Lets learn about data type

In [1]:
print(len(1234))

TypeError: object of type 'int' has no len()

I encounter again type error int üßê

In [3]:
print(len(str(1234)))

4

len only find the length of string 
so str is for declearing string

In [4]:
print("hello"[0])
print("hello"[4])

h
o

this is known as subscript (letter inside the word )
it always start from 0 and so on

Concatenation is adding similar data type

In [5]:
print("hello" + "World")

helloWorld

In [6]:
print("123" +"456")

123456

as we can see how numbers is also inside double quotation make is string and they are put together

In [7]:
print(123+456)

579

now they are int , number üòé

Basic Data Types
Int -> Integer
Str -> String
Float -> Float
None -> Null
Bool -> Boolean (True, False)

how to find the datatype of any value

In [8]:
print(type(123))

<class 'int'>

In [9]:
print(type("hero"))

<class 'str'>

In [10]:
print(type(hero))

NameError: name 'hero' is not defined

here I got error because for string we use double quot mark " "

In [11]:
print(type("123"))

<class 'str'>

we can Concatenation similar datatype only ü§òüèª

In [12]:
boolen = (1==2)
print(type(boolen))

<class 'bool'>

In [13]:
mark = 4.3
print(type(mark))

<class 'float'>

in this way we can find the data type of any value using type() function

float is floating point number 1.3 , 3.44, etc.üòÑ